<!DOCTYPE html>
<html lang="ro">
  <head>
    <%- include('../fragmente/head') %>
    <title>Galerie - Magazin Telefoane</title>
    <!-- Vom crea acest fisier CSS in pasul urmator -->
    <link rel="stylesheet" href="/resurse/css/galerie.css" />
  </head>
  <body>
    <%- include('../fragmente/header') %>
    <main>
      <h1>Galerie Foto</h1>
      <p>Descoperă tehnologia prin ochii noștri. Aici găsești imagini cu cele mai noi produse și accesorii.</p>
      <hr/>
      <%- include('../fragmente/galerie') %>
    </main>
    <%- include('../fragmente/footer') %>
  </body>
</html>