<footer>
  <address>
    Nr. Telefon: <a href="tel:+40123456780">+40123456780</a>
    <br />
    Adresa fizica a magazinului:
    <a
      href="https://www.google.com/maps/place/Faculty+of+Mathematics+and+Computer+Science/@44.435535,26.097503,17z/"
      target="_blank"
      >Str. Academiei 14</a
    >
    <br />
    Email: <a href="mailto:magtelonline@gmail.com">magtelonline@gmail.com</a>
    <br />
    Contactati-ne pe whatsapp:
    <a href="https://wa.me/40123456780">+40123456780</a>
  </address>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m13!1m8!1m3!1d2848.8843241053105!2d26.097503!3d44.435535!3m2!1i1024!2i768!4f13.1!3m2!1m1!2s!5e0!3m2!1sro!2s!4v1753303723478!5m2!1sro!2s"
    width="600"
    height="450"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  >
  </iframe>
  <a href="#" id="link-top">
    <div id="triunghi">&#x25b3;</div>
    <span class="tooltiptext">Duce spre inceputul paginii</span>
  </a>
  <small
    >&copy; Magazin telefoane
    <time datetime="2025-07-23">23 iulie 2025</time></small
  >
  <p id="banner">Acesta este un proiect școlar!</p>
</footer>
