  <title>Magazin online de vanzari telefoane</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width initial-scale=1.0" />
  <meta
    name="keywords"
    content="oferte telefoane, noutati smartphone, iPhone nou, reduceri Samsung, smartphone 2025"
  />
  <meta name="author" content="Dragos Port" />
  <meta
    name="description"
    content="Cumpara cele mai noi telefoane la pret exceptional. Descopera noul tau telefon chiar astazi."
  />
  <meta name="msapplication-TileColor" content="white" />
  <meta
    name="msapplication-TileImage"
    content="./resurse/ico/favicon/favicon.svg"
  />

  <link
    rel="icon"
    type="image/png"
    href="/resurse/ico/favicon/favicon-96x96.png"
    sizes="96x96"
  />
  <link
    rel="icon"
    type="image/svg+xml"
    href="/resurse/ico/favicon/favicon.svg"
  />
  <link rel="shortcut icon" href="/resurse/ico/favicon/favicon.ico" />
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="/resurse/ico/favicon/apple-touch-icon.png"
  />
  <meta name="apple-mobile-web-app-title" content="MagTelefon" />
  <link rel="manifest" href="/resurse/ico/favicon/site.webmanifest" />
  <link rel="stylesheet" href="/resurse/css/general.css" />
  <link rel="stylesheet" href="/resurse/css/nav.css" />
  <link rel="stylesheet" href="/resurse/css/print.css" media="print" />
  <link rel="stylesheet" href="/resurse/css/eroare.css" />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
  />
  <script
    src="https://kit.fontawesome.com/55c85c368b.js"
    crossorigin="anonymous"
  ></script>
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap"
  />
