<header>
  <h1 id="welcome-mesaj">Bine ati venit la magazinul nostru!</h1>
  <nav>
    <input type="checkbox" id="menu-toggle" hidden />
    <label for="menu-toggle" id="burger-menu">
      <i class="fa fa-bars"></i>
    </label>

    <ul id="main-nav">
      <li id="acasa" tabindex="0">
        <a href="index"
          ><i class="fa fa-home"></i> <span id="acasa-text">Acasa</span></a
        >
        <ul>
          <li><a href="#noutati">Noutati</a></li>
          <li><a href="#pop">Produse populare</a></li>
          <li><a href="#promotii">Promotii</a></li>
          <li><a href="#faq">Intrebari frecvente</a></li>
        </ul>
      </li>
      <li id="produse">
        <a href="produse.html">Produse</a>
        <ul>
          <li><a href="telefoane.html">Telefoane</a></li>
          <li><a href="accesorii.html">Accesorii</a></li>
        </ul>
      </li>
      <li><a href="cos.html">Cos de cumparaturi</a></li>
      <li><a href="despre">Despre noi</a></li>
      <li><a href="contact.html">Contact</a></li>
    </ul>
  </nav>
</header>
